{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/components/forms.css' %}" />
  <link rel="stylesheet" href="{% static 'css/pages/auth.css' %}" />
  <link rel="stylesheet" href="{% static 'css/media.css' %}" />
{% endblock head %}

{% block content %}
  <h1 class="main-cont-ttl">Welcome - {{ user.username }}</h1>
  <ul class="b-crumbs">
    <li>
      <a href="{% url 'web:index' %}">Home</a>
    </li>
    <li>My Account</li>
  </ul>
  <article class="page-cont">
    <div class="page-styling">
      <div class="auth-wrap">
        <div class="auth-col">
          <div class="auth-header">
            <h2>Profile Information</h2>
            <p>Update your profile information</p>
          </div>
          <form class="register update-account-details" method="post" action="{% url 'account:update_account' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <p class="auth-submit mb-0 mt-4">
              <input type="submit" value="Update Information" />
            </p>
            <div class="divider">
              <span>or</span>
            </div>
          </form>
          {% if request.user.is_authenticated %}
            <ul class="logout-account-container m-0">
              <li>
                <form action="{% url 'account:logout' %}" method="post">
                  {% csrf_token %}
                  <input type="submit" class="logout-account" value="LogOut" />
                </form>
              </li>
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </article>
{% endblock content %}
