{% extends 'base.html' %}

{% block title %}
Email Validation
{% endblock %}

{% block head %}
  {% load static %}
  <script type="text/javascript" src="{% static 'js/emailValidation.js' %}" defer></script>
{% endblock %}

{% block content %}
  <div class="email-validation-wrapper">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">
            {{ message|safe }}
            <a href="#" class="close">x</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <div class="email-validation-container">
      <h1 class="email-validation">Email Validation</h1>
      <p class="email-validation">Please check your email for the activation link.</p>
      <p class="email-validation">If you did not receive the email</p>
      <form class="email-validation" action="{% url 'account:email_validation' %}" method="post">
        {% csrf_token %}
        <input id="resend-button" type="submit" value="Resend Email" />
      </form>
    </div>
  </div>
{% endblock %}
