{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
  Login/Sig Up
{% endblock title %}

{% block content %}
  <h1 class="main-cont-ttl">Registration</h1>
  <ul class="b-crumbs">
    <li>
      <a href="{% url 'web:index' %}">Home</a>
    </li>
    <li>Login</li>
  </ul>

  <article class="page-cont">
    <div class="page-styling">
      <div class="auth-wrap">
        <div class="auth-col">
          <h2>Login</h2>
          {% include 'includes/messages.html' %}
          <form class="register" method="post"  action="{% url 'account:login' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            {{ form|crispy }}
{#            <p>#}
{#              {{ form.email.label_tag }}<span class="required">*</span>#}
{#              {{ form.email }}#}
{#              <span class="form-errors">{{ form.errors.email|striptags }}</span>#}
{#            </p>#}
{#            <p>#}
{#              {{ form.password.label_tag }}<span class="required">*</span>#}
{#              {{ form.password }}#}
{#              <span class="form-errors">{{ form.errors.password|striptags }}</span>#}
{#            </p>#}
            <p class="auth-submit">
              <input type="checkbox" id="rememberme" value="forever" />
              <label for="rememberme">Remember me</label>
              <input type="submit" value="Login" />
            </p>
          </form>
          <p class="auth-lost_password">
            <a href="{% url 'account:password_reset' %}">Lost your password?</a>
          </p>
          <p>
            Don't have an account?
            <a href="{% url 'account:signup' %}">SignUp</a>
          </p>
        </div>
      </div>
    </div>
  </article>
{% endblock content %}
