{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}
  Login/Sign Up
{% endblock title %}

{% block head %}
  <script src="{% static 'js/passwordTypeToggle.js' %}" defer></script>
{% endblock head %}

{% block content %}
  <h1 class="main-cont-ttl">Registration</h1>
  <ul class="b-crumbs">
    <li>
      <a href="{% url 'web:index' %}">Home</a>
    </li>
    <li>Registration</li>
  </ul>
  <article class="page-cont">
    <div class="page-styling">
      <div class="auth-wrap">
        <div class="auth-col">
          <h2 class="mb-4">Sign Up</h2>
          <form class="register signup w-100" method="post" action="{% url 'account:signup' %}">
            {% csrf_token %}
            {% include 'includes/crispy_fields/email.html' %}
            {% include 'includes/crispy_fields/password.html' %}
            {% include 'includes/crispy_fields/confirm_password.html' %}
            <div class="my-4 d-flex gap-2">
              <input type="checkbox" id="terms" required />
              <label for="terms">I agree to the <a href="">Terms and Conditions</a></label>
            </div>
            <p class="auth-submit">
              <input type="submit" class="w-100" value="Create Account" />
            </p>
          </form>
          <p class="mb-0">
            Already have an account?
            <a href="{% url 'account:login' %}" class="fw-semibold">LogIn</a>
          </p>
        </div>
      </div>
    </div>
  </article>
{% endblock content %}
