{% extends 'base.html' %}

{% comment %}
{% block title %}
  Login/Sig Up
{% endblock %}
{% endcomment %}

{% block content %}
  <h1 class="main-cont-ttl">Registration</h1>
  <ul class="b-crumbs">
    <li>
      <a href="{% url 'web:index' %}">Home</a>
    </li>
    <li>Registration</li>
  </ul>

  <article class="page-cont">
    <div class="page-styling">
      <div class="auth-wrap">
        <div class="auth-col">
          <h2>Sign Up</h2>
              {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                    <li class="{{message.tags}}">
                      {{message|safe}}
                      <a href="#" class="close">x</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
          <form method="post" class="register" action="{% url 'account:signup' %}">
            {% csrf_token %}
            <p>
              <label for="reg_email">Email <span class="required">*</span></label>
              <input type="email" id="reg_email" name="email" />
            </p>
            <p>
              <label for="reg_password">Password <span class="required">*</span></label>
              <input type="password" id="reg_password" name="password" />
            </p>
            <label for="alert-danger">{{ message }}</label>
            <p class="auth-submit">
              <input type="submit" value="Create Account" />
            </p>
          </form>
          <p>
            Already have an account?
            <a href="{% url 'account:login' %}">LogIn</a>
          </p>
        </div>
      </div>
    </div>
  </article>
{% endblock content %}
