{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
  Login/Sig Up
{% endblock %}

{% block content %}
  <h1 class="main-cont-ttl">Registration</h1>
  <ul class="b-crumbs">
    <li>
      <a href="{% url 'web:index' %}">Home</a>
    </li>
    <li>Registration</li>
  </ul>

  <article class="page-cont">
    <div class="page-styling">
      <div class="auth-wrap">
        <div class="auth-col">
          <h2>Sign Up</h2>
          {% include 'includes/messages.html' %}
          <form class="register" method="post" action="{% url 'account:signup' %}">
            {% csrf_token %}
            {{ form|crispy }}
{#            <p>#}
{#              <label for="reg_email">Email:</label><span class="required">*</span>#}
{#              {{ form.email }}#}
{#              <span class="form-errors">{{ form.errors.email|striptags }}</span>#}
{#            </p>#}
{#            <p>#}
{#              {{ form.password.label_tag }}<span class="required">*</span>#}
{#              {{ form.password }}#}
{#              <span class="form-errors">{{ form.errors.email|striptags }}</span>#}
{#            </p>#}
            <p class="auth-submit">
              <input type="submit" value="Create Account" />
            </p>
          </form>
          <p>
            Already have an account?
            <a href="{% url 'account:login' %}">LogIn</a>
          </p>
        </div>
      </div>
    </div>
  </article>
{% endblock content %}
