<div id="div_id_new_password1" class="mb-3">
  <div class="password-wrapper">
    {{ form.new_password1 }}
    <span>New password</span>
    <i class="bi bi-eye password-toggle-icon"></i>
  </div>
  {% if form.new_password1.errors %}
    <ul id="helptext" class="text-muted small mb-0 ms-0">
      <p class="m-0">Password requirements:</p>
      {% for error in form.new_password1.errors %}
        {% if "At least" in error %}
          <li>{{ error }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</div>
