{% load crispy_forms_filters %}
<div id="div_id_password" class="mb-3">
  <div class="password-wrapper">
    {{ form.password }}
    <span>Password</span>
    <i class="bi bi-eye password-toggle-icon"></i>
  </div>
  {% if form.password.errors %}
    <ul class="text-muted small mb-0 ms-0">
      <p class="m-0">Password requirements:</p>
      {% for error in form.password.errors %}
        {% if "At least" in error %}
          <li>{{ error }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</div>
