<div class="blog-sb-widget multishopbrands_widget pt-0">
  <h3 class="widgettitle">Brands</h3>
  <div class="section-sb-current">
    <ul class="section-sb-list">
      {% for brand in brands %}
        <li>
          <a href="{% url 'web:filter_by_brand' brand.id %}">
            <span class="section-sb-label">
              {{ brand.name }}
              <span class="count">{{ brand.product_set.count }}</span>
            </span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
