{% load static %}
<script src="{% static 'js/catalogIntersectionObserver.js' %}" defer></script>

<div class="row prod-items prod-items-2 mb-4" id="catalog-section">
  {% for product in products %}
    <form class="cart-actions" action="{% url 'cart:add_product_cart' product.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="location-url" value="{{ request.get_full_path }}"/>
      <article class="cf-sm-6 cf-md-6 cf-lg-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 sectgl-item">
        <div class="sectgl prod-i">
          <!-- Product Image -->
          <div class="prod-i-top">
            <a class="prod-i-img" href="{% url 'web:product_detail' product.id %}">
              <img src="
                {% if product.image %}
                  {{ product.image.url }}
                {% else %}
                  https://via.placeholder.com/250
                {% endif %}
                "
                alt="{{ product.title }}"
              />
            </a>
            <div class="prod-i-actions">
              <div class="prod-i-actions-in">
                <p class="prod-i-cart">
                  <button class="hover-label prod-addbtn" type="submit">
                    <i class="icon ion-android-cart"></i>
                    <span>Add to Cart</span>
                  </button>
                  <input type="hidden" name="quantity" value="1">
                </p>
              </div>
            </div>
          </div>
          <div class="prod-i-bot">
            <!-- Product Top -->
            <h3 class="prod-i-ttl">
              <a href="{% url 'web:product_detail' product.id %}">{{ product.title }}</a>
            </h3>
            <!-- Product Bottom -->
            <div class="prod-i-info">
              <p class="prod-i-categ">
                <a href="{% url 'web:filter_by_category' product.category.id %}">{{ product.category }}</a>
              </p>
              <button class="add-to-cart-mobile" type="submit">
                <i class="bi bi-cart-plus"></i>
              </button>
              <p class="prod-i-categ">
                <a href="{% url 'web:filter_by_brand' product.brand.id %}">{{ product.brand }}</a>
              </p>
              <p class="prod-i-price">${{ product.price }}</p>
              <button class="add-to-cart-mobile blue-button" type="submit">
                <i class="bi bi-cart-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </article>
    </form>
  {% endfor %}
</div>
