:root {
    --base-color: #e8e8f4;
    --secondary-color: #ffffff;
    --third-color: #1291ee;

    /* Text */
    --base-text-color: black;
    --secondary-text-color: #9292b4;

    --image-invert-color: invert(0);
    --base-color-body: #f8f9fa;
    color-scheme: light;

    /* Shadows */
    --shadow-light: rgba(0, 0, 0, 0.1);
    --shadow-medium: rgba(0, 0, 0, 0.15);
    --shadow-heavy: rgba(0, 0, 0, 0.25);
}

.darkmode {
    --base-color: #0f1419;
    --secondary-color: #212529;
    /* --third-color: #1cdf78; */

    /* Text */
    --base-text-color: white;
    --secondary-text-color: #a1a7b4;

    --image-invert-color: invert(1);
    --base-color-body: #212529;
    color-scheme: dark;

    /* Shadows */
    --shadow-light: rgba(0, 0, 0, 0.3);
    --shadow-medium: rgba(0, 0, 0, 0.4);
    --shadow-heavy: rgba(0, 0, 0, 0.6);
}

#theme-switch {
    height: 100%;
    width: auto;
    padding: 0 0 1px;
    border: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
    background-color: transparent;
    margin: 0 5px;
}

#theme-switch i {
    fill: var(--base-text-color);
    transition: color 0.2s ease-in;
    font-size: 2rem;
}

#theme-switch i:hover {
    color: #1291ee;
}

#theme-switch i:first-child {
    display: none;
}

.darkmode #theme-switch i:last-child {
    display: none;
}

.darkmode #theme-switch i:first-child {
    display: block;
}

#page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-rounded {
    border-radius: 6px;
}

.img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.img-circle {
    border-radius: 50%;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}

[role="button"] {
    cursor: pointer;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 100% !important;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1230px) {
    .container {
        width: 1200px;
    }
}

.container-fluid {
    display: none;
}

@media (min-width: 900px) {
    .container-fluid {
        display: flex;
        justify-content: right;
        flex-direction: row;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1 {
    width: 8.33333333%;
}

.col-xs-pull-12 {
    right: 100%;
}

.col-xs-pull-11 {
    right: 91.66666667%;
}

.col-xs-pull-10 {
    right: 83.33333333%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-8 {
    right: 66.66666667%;
}

.col-xs-pull-7 {
    right: 58.33333333%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-5 {
    right: 41.66666667%;
}

.col-xs-pull-4 {
    right: 33.33333333%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-2 {
    right: 16.66666667%;
}

.col-xs-pull-1 {
    right: 8.33333333%;
}

.col-xs-pull-0 {
    right: auto;
}

.col-xs-push-12 {
    left: 100%;
}

.col-xs-push-11 {
    left: 91.66666667%;
}

.col-xs-push-10 {
    left: 83.33333333%;
}

.col-xs-push-9 {
    left: 75%;
}

.col-xs-push-8 {
    left: 66.66666667%;
}

.col-xs-push-7 {
    left: 58.33333333%;
}

.col-xs-push-6 {
    left: 50%;
}

.col-xs-push-5 {
    left: 41.66666667%;
}

.col-xs-push-4 {
    left: 33.33333333%;
}

.col-xs-push-3 {
    left: 25%;
}

.col-xs-push-2 {
    left: 16.66666667%;
}

.col-xs-push-1 {
    left: 8.33333333%;
}

.col-xs-push-0 {
    left: auto;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

.col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xs-offset-0 {
    margin-left: 0;
}

@media (min-width: 768px) {

    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }

    .col-sm-pull-12 {
        right: 100%;
    }

    .col-sm-pull-11 {
        right: 91.66666667%;
    }

    .col-sm-pull-10 {
        right: 83.33333333%;
    }

    .col-sm-pull-9 {
        right: 75%;
    }

    .col-sm-pull-8 {
        right: 66.66666667%;
    }

    .col-sm-pull-7 {
        right: 58.33333333%;
    }

    .col-sm-pull-6 {
        right: 50%;
    }

    .col-sm-pull-5 {
        right: 41.66666667%;
    }

    .col-sm-pull-4 {
        right: 33.33333333%;
    }

    .col-sm-pull-3 {
        right: 25%;
    }

    .col-sm-pull-2 {
        right: 16.66666667%;
    }

    .col-sm-pull-1 {
        right: 8.33333333%;
    }

    .col-sm-pull-0 {
        right: auto;
    }

    .col-sm-push-12 {
        left: 100%;
    }

    .col-sm-push-11 {
        left: 91.66666667%;
    }

    .col-sm-push-10 {
        left: 83.33333333%;
    }

    .col-sm-push-9 {
        left: 75%;
    }

    .col-sm-push-8 {
        left: 66.66666667%;
    }

    .col-sm-push-7 {
        left: 58.33333333%;
    }

    .col-sm-push-6 {
        left: 50%;
    }

    .col-sm-push-5 {
        left: 41.66666667%;
    }

    .col-sm-push-4 {
        left: 33.33333333%;
    }

    .col-sm-push-3 {
        left: 25%;
    }

    .col-sm-push-2 {
        left: 16.66666667%;
    }

    .col-sm-push-1 {
        left: 8.33333333%;
    }

    .col-sm-push-0 {
        left: auto;
    }

    .col-sm-offset-12 {
        margin-left: 100%;
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-sm-offset-9 {
        margin-left: 75%;
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-sm-offset-6 {
        margin-left: 50%;
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-sm-offset-3 {
        margin-left: 25%;
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-sm-offset-0 {
        margin-left: 0;
    }
}

@media (min-width: 992px) {

    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-11 {
        width: 91.66666667%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-1 {
        width: 8.33333333%;
    }

    .col-md-pull-12 {
        right: 100%;
    }

    .col-md-pull-11 {
        right: 91.66666667%;
    }

    .col-md-pull-10 {
        right: 83.33333333%;
    }

    .col-md-pull-9 {
        right: 75%;
    }

    .col-md-pull-8 {
        right: 66.66666667%;
    }

    .col-md-pull-7 {
        right: 58.33333333%;
    }

    .col-md-pull-6 {
        right: 50%;
    }

    .col-md-pull-5 {
        right: 41.66666667%;
    }

    .col-md-pull-4 {
        right: 33.33333333%;
    }

    .col-md-pull-3 {
        right: 25%;
    }

    .col-md-pull-2 {
        right: 16.66666667%;
    }

    .col-md-pull-1 {
        right: 8.33333333%;
    }

    .col-md-pull-0 {
        right: auto;
    }

    .col-md-push-12 {
        left: 100%;
    }

    .col-md-push-11 {
        left: 91.66666667%;
    }

    .col-md-push-10 {
        left: 83.33333333%;
    }

    .col-md-push-9 {
        left: 75%;
    }

    .col-md-push-8 {
        left: 66.66666667%;
    }

    .col-md-push-7 {
        left: 58.33333333%;
    }

    .col-md-push-6 {
        left: 50%;
    }

    .col-md-push-5 {
        left: 41.66666667%;
    }

    .col-md-push-4 {
        left: 33.33333333%;
    }

    .col-md-push-3 {
        left: 25%;
    }

    .col-md-push-2 {
        left: 16.66666667%;
    }

    .col-md-push-1 {
        left: 8.33333333%;
    }

    .col-md-push-0 {
        left: auto;
    }

    .col-md-offset-12 {
        margin-left: 100%;
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-md-offset-9 {
        margin-left: 75%;
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-md-offset-6 {
        margin-left: 50%;
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-md-offset-3 {
        margin-left: 25%;
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-md-offset-0 {
        margin-left: 0;
    }
}

@media (min-width: 1230px) {

    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: left;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-11 {
        width: 91.66666667%;
    }

    .col-lg-10 {
        width: 83.33333333%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 100%;
    }

    .col-lg-7 {
        width: 58.33333333%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-5 {
        width: 41.66666667%;
    }

    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.66666667%;
    }

    .col-lg-1 {
        width: 8.33333333%;
    }

    .col-lg-pull-12 {
        right: 100%;
    }

    .col-lg-pull-11 {
        right: 91.66666667%;
    }

    .col-lg-pull-10 {
        right: 83.33333333%;
    }

    .col-lg-pull-9 {
        right: 75%;
    }

    .col-lg-pull-8 {
        right: 66.66666667%;
    }

    .col-lg-pull-7 {
        right: 58.33333333%;
    }

    .col-lg-pull-6 {
        right: 50%;
    }

    .col-lg-pull-5 {
        right: 41.66666667%;
    }

    .col-lg-pull-4 {
        right: 33.33333333%;
    }

    .col-lg-pull-3 {
        right: 25%;
    }

    .col-lg-pull-2 {
        right: 16.66666667%;
    }

    .col-lg-pull-1 {
        right: 8.33333333%;
    }

    .col-lg-pull-0 {
        right: auto;
    }

    .col-lg-push-12 {
        left: 100%;
    }

    .col-lg-push-11 {
        left: 91.66666667%;
    }

    .col-lg-push-10 {
        left: 83.33333333%;
    }

    .col-lg-push-9 {
        left: 75%;
    }

    .col-lg-push-8 {
        left: 66.66666667%;
    }

    .col-lg-push-7 {
        left: 58.33333333%;
    }

    .col-lg-push-6 {
        left: 50%;
    }

    .col-lg-push-5 {
        left: 41.66666667%;
    }

    .col-lg-push-4 {
        left: 33.33333333%;
    }

    .col-lg-push-3 {
        left: 25%;
    }

    .col-lg-push-2 {
        left: 16.66666667%;
    }

    .col-lg-push-1 {
        left: 8.33333333%;
    }

    .col-lg-push-0 {
        left: auto;
    }

    .col-lg-offset-12 {
        margin-left: 100%;
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-lg-offset-9 {
        margin-left: 75%;
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-lg-offset-3 {
        margin-left: 25%;
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-lg-offset-0 {
        margin-left: 0;
    }
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after {
    /* .row:before, */
    /* .row:after { */
    content: " ";
    display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
    clear: both;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

/*noinspection CssInvalidPropertyValue*/
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.hidden {
    display: none !important;
}

.affix {
    position: fixed;
}

.footer-container {
    display: flex;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--base-text-color);
}

@media screen and (min-width: 1200px) {
    .footer-container {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .footer-container {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

.email-validation-container {
    background-color: var(--base-color-body);
    color: var(--base-color-body);
    text-align: center;
    border-radius: 20px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    padding: 40px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    min-width: 200px;
}

.email-validation-wrapper {
    padding: 0 10rem;
}

#resend-button {
    background-color: var(--third-color);
    border-radius: 15px;
    padding: 5px 10px;
    color: white;
    transition: background-color 0.2s ease-in;
    border: 0;
}

#resend-button:hover {
    background-color: #7dcd8c;
    cursor: pointer;
}

*:disabled {
    cursor: not-allowed !important;
}

button:disabled,
input[type=submit]:disabled {
    background-color: grey !important;
}

div.email-reset {
    background-color: white;
    color: black;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 30px;
    align-items: center;
}

div.email-reset-wrapper {
    padding: 0 60px;
}

h2.email-reset {
    font-size: 1.5rem;
}

form.email-reset {
    display: flex;
    justify-content: center;
}

div.email-reset>form.email-validation>#resend-button {
    width: 100%;
    height: 3rem;
    font-size: 24px;
}

input.form-control.email-reset {
    border-radius: 10px 0 0 10px;
}

input[type=submit].email-reset {
    border-radius: 0 10px 10px 0;
    transition: background-color 0.2s ease-out;
    border: 0;
    color: white;
    background-color: var(--base-color-body);
}

input[type=submit].email-reset:hover {
    background-color: var(--third-color);
}

p.email-reset {
    font-size: 1.35rem;
}

div.email-reset-confirm {
    background-color: white;
    color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    align-items: center;
}

h2.email-reset-confirm {
    font-size: 1.5rem;
}

form.email-reset-confirm {
    text-align: center;
    font-size: 1.2rem;
}

div.email-reset-confirm-form {
    text-align: left;
}

input.email-reset-confirm {
    background-color: var(--third-color);
    border-radius: 15px;
    padding: 8px 10px;
    color: white;
    transition: background-color 0.2s ease-in;
    border: 0;
    margin: 25px 0 5px;
    font-size: 1.3rem;
}

input.email-reset-confirm:hover {
    background-color: #7dcd8c;
}

div.email-reset-confirm-form>.errorlist {
    color: red;
}

form.login {
    margin-left: 5px;
}

.invalid-feedback>p>strong {
    color: red;
}

form.register input {
    margin: 0;
}

form.register p.auth-submit input,
form.register input.logout-account {
    border-radius: 10px;
}

form.register p.auth-submit input:hover,
form.register p.auth-submit input:active {
    box-shadow: 0 10px 25px rgba(102, 234, 144, 0.4);
    transform: translateY(-2px);
}

form.cart-actions {
    display: contents;
}

form.cart-actions.cart {
    display: block;
    float: right;
    padding: 0;
}

button.hover-label.prod-addbtn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: black;
    font: inherit;
    text-align: left;
}

i.icon.ion-android-cart {
    font-size: 20px;
}

i.icon.ion-android-cart:hover {
    color: var(--third-color)
}

.pending-data .restore,
.pending-data .order-summary {
    padding-bottom: 15px;
}

div.pending-data-container {
    padding: 30px 50px;
}

h5.pending-data-h5 {
    margin-bottom: 0;
}

div.pending-data-details {
    padding-left: 30px;
}

.card-header {
    display: flex;
    align-items: center;
    gap: .5rem;
    height: 100%;
    margin-bottom: 24px;
}

.card-header h2 {
    margin-bottom: 0;
}

.card-header i {
    color: var(--third-color);
    /*height: 1.1rem;*/
    width: 16px;
    display: flex;
    align-items: center;
}

.card-header i.bi-clipboard-check {
    height: 1.3rem;
}

.card-header i::before {
    font-weight: bolder;
    font-size: 1.9rem;
    height: 16px;
    width: 16px;
}

.card-header i.bi-truck::before {
    font-size: 2rem;
}

.order-confirm-button {
    position: relative;
    background: var(--third-color, #007bff);
    color: white !important;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.3s ease;
    z-index: 1;
}

.order-confirm-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #28a745, #20c997);
    transition: left 1s ease-out;
    z-index: -1;
}

.order-confirm-button:hover::before,
.order-confirm-button:active::before {
    left: 0;
}

.order-confirm-button:hover,
.order-confirm-button:active {
    background-color: var(--third-color, #007bff) !important;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(40, 167, 69, 0.3);
}

/* Pseudo-element for Bootstrap Icon */
.order-confirm-button::after {
    content: '\F1BE';
    font-family: 'bootstrap-icons' !important;
    font-size: 16px;
    margin-left: 10px;
    position: relative;
    transition: transform .3s ease;
    color: white;
}

/* Animacion for the icon in hover */
.order-confirm-button:hover::after,
.order-confirm-button:active::after {
    transform: translateX(5px);
}

.quantity-control-component {
    max-width: 70%;
    transition: border-color 0.2s ease;
}

.quantity-control-component:active,
.quantity-control-component:hover {
    border-color: var(--third-color) !important;
    transition: border-color 0.2s ease;
}

input.form-control,
textarea.form-control {
    background-color: var(--base-color) !important;
}

ul.list-group.list-group-flush {
    /* background-color: var(--base-color-body); */
    background-color: transparent;
}

.list-group-item {
    background-color: transparent;
    color: var(--base-text-color);
}

.list-group-item .cart-actions-confirm {
    background-color: transparent;
    border-radius: 0;
}

#quantity-down i,
#quantity-up i {
    color: var(--base-text-color);
    transition: color 0.2s ease;
}

#quantity-down:hover i::before,
#quantity-down:active i::before,
#quantity-up:hover i::before,
#quantity-up:active i::before {
    color: var(--third-color);
    transition: color 0.2s ease;
}

.social-links-container {
    width: 100%;
}

.footer-container {
    width: 100%;
}

.footer-container h4 {
    color: var(--base-text-color);
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.f-logo-wrap {
    margin-bottom: 0;
    width: 100%;
}

.footer-container ul.footer-link-list {
    margin: 0;
    text-align: left;
}

.footer-link-list li a {
    color: var(--secondary-text-color);
    font-weight: 600;
}

.footer-link-list li a:active,
.footer-link-list li a:hover {
    color: var(--third-color);
}

ul.footer-link-list.social-links {
    display: flex;
    gap: 1.5rem;
    margin-left: .4rem;
}

.footer-link-list.social-links li:last-child {
    margin: 5px 0;
}

.social-links li a i {
    height: 100%;
}

.h-nav {
    display: flex;
    align-items: center;
    height: 2.5rem;
}

.bi-sun::before,
.bi-moon::before {
    display: block;
}

.bi-moon::before {
    font-size: 1.6rem;
}

.bi-sun::before {
    font-size: 1.8rem;
    font-weight: bolder !important;
}

.header-logo {
    font-size: 2rem;
    height: 90%;
}

/* CART */

.bi-cart-plus::before {
    font-size: 2.5rem;
}

#catalog-section article {
    /* translate: -100%; */
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    will-change: transform, opacity;
}

#catalog-section article.show-on-scroll {
    /* translate: 0; */
    opacity: 1;
    transform: translateY(0);
}

.divider {
    text-align: center;
    position: relative;
    margin: 1rem 0;
}

.divider::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background: #e2e8f0;
}

.divider span {
    background: var(--secondary-color);
    padding: 0 15px;
    color: var(--base-text-color);
    position: relative;
    z-index: 1;
}

input.logout-account {
    background-color: transparent !important;
    border: 2px solid #e53e3e !important;
    color: #e53e3e !important;
}

input.logout-account:hover,
input.logout-account:active {
    background-color: #e53e3e !important;
    color: white !important;
    box-shadow: 0 10px 25px rgba(229, 62, 62, 0.3);
    transform: translateY(-2px);
}

.auth-header {
    text-align: center;
}

.auth-header h2 {
    margin-bottom: 1rem;
}

.auth-header p {
    color: #718096;
    font-size: 1.3rem;
}

#id_sex,
#id_birth {
    color: var(--base-text-color) !important;
    background-color: var(--base-color) !important;
}

.cart-actions.cart-page {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
}

.cart-collaterals form {
    background-color: transparent;
}

.coupon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

#coupon-code-input {
    padding: 0 10rem 0 1.5rem;
    margin: 0;
    background-color: var(--base-color);
}

#coupon-code-input:hover,
#coupon-code-input:focus {
    border-color: var(--third-color);
}

.coupon-apply-btn {
    bottom: auto;
    left: initial;
    right: 5px;
}

.cart-totals-ttl {
    font-weight: bold;
    color: var(--base-text-color);
    background-color: var(--secondary-color);
    z-index: 1;
    padding: 0 5px 0;
}

.cart-totals-val {
    text-align: end;
    color: var(--base-text-color);
    background-color: var(--secondary-color);
    z-index: 1;
    padding: 0 0 0 5px;
}

.cart-actions .order-total::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 1px;
    background-color: var(--secondary-text-color);
    top: 50%;
    left: 10%;
    z-index: 0;
}

form.cart-actions input.checkout-button.clear-cart-btn {
    background-color: transparent;
    color: red;
    border: 1px solid red;
}

form.cart-actions input.checkout-button.clear-cart-btn:hover {
    background-color: red;
}

form.cart-actions input.checkout-button:active,
form.cart-actions input.checkout-button:hover {
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.divider {
    margin: 2px 0;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper input {
    padding-right: 40px !important;
    width: 100%;
}

.password-toggle-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
    /* font-size: 1.2rem; */
    transition: color 0.2s;
    user-select: none;
}

.password-toggle-icon:hover {
    color: #495057;
}

div.auth-col form.login div.mb-3,
div.auth-col form.signup div.mb-3 {
    margin: 1rem 0 2rem !important;
}

ul.text-muted {
    font-weight: bold;
}

ul.text-muted p {
    color: red;
}

ul.text-muted li {
    color: red;
    margin: 0;
    font-size: .875em;
    margin-left: 10px;
}

.email-wrapper,
.password-wrapper {
    position: relative;
}

.email-wrapper span,
.password-wrapper span {
    position: absolute;
    bottom: 25%;
    left: 8%;
    font-size: 15px;
    color: var(--secondary-text-color);
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.email-wrapper input:focus:valid,
.password-wrapper input:focus:valid {
    box-shadow: 0 0 0 .25rem rgba(0, 120, 0, .25);
}

.email-wrapper input:not(:placeholder-shown):focus:invalid,
.password-wrapper input:not(:placeholder-shown):focus:invalid {
    box-shadow: 0 0 0 .25rem rgba(120, 0, 0, .25);
}

.email-wrapper input:focus~span,
.email-wrapper input:not(:placeholder-shown)~span,
.password-wrapper input:focus~span,
.password-wrapper input:not(:placeholder-shown)~span {
    font-size: 12px;
    color: var(--third-color);
    transform: translate(-10px, -25px);
    backdrop-filter: blur(4px);
}

.email-wrapper input:valid~span,
.password-wrapper input:valid~span {
    color: green;
}

.email-wrapper input:not(:placeholder-shown):invalid~span,
.password-wrapper input:not(:placeholder-shown):invalid~span {
    color: red;
}


.toast-container {
    position: fixed;
    bottom: 5%;
    right: 0;
    z-index: 20;
}

.toast {
    width: auto;
    opacity: 0;
    display: inline-block;
    transform: translateY(100%);
    animation: moveUp 0.5s ease-out forwards;
    border-radius: 5px;
    padding: 0 10px;
    position: relative;
    overflow: hidden;
}

.toast.closed {
    animation: dismissToast 0.3s ease-in forwards;
}

@keyframes moveUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes dismissToast {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

button.btn-close {
    font-size: 1.4rem;
    --bs-btn-close-opacity: 0.8;
}

.toast-content {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
}

.toast-body {
    font-size: 1.2rem;
}

.toast.success,
.toast.error,
.toast.info {
    color: #ffffff;
}

.toast.success {
    background-color: #4deb87;
}

.toast.error {
    background-color: #ce2b54;
}

.toast.warning {
    background-color: #fcd34d;
}

.toast.info {
    background-color: #1291ee;
}

body.darkmode {
    .toast.info {
        background-color: #31318A;
    }

    .toast.success {
        background-color: #4b984b;
    }

    .toast.error {
        background-color: #a30029;
    }

    .toast.warning {
        background-color: #cf8510;
    }
}

.toast.warning .toast-body {
    color: #000000;
}

.toast.warning .btn-close {
    filter: invert(0);
}

.toast .toast-content::before {
    font-family: 'bootstrap-icons' !important;
    font-size: 2rem;
}

.toast.info .toast-content::before {
    content: '\F433';
}

.toast.success .toast-content::before {
    content: '\F26D';
}

.toast.error .toast-content::before {
    content: '\F339';
}

.toast.warning .toast-content::before {
    content: '\F33B';
    color: #000000;
}

.toast::after {
    content: '';
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    left: 0;
    animation: autoHide 5s linear forwards;
}

@keyframes autoHide {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}
