.order-summary-page {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.order-summary-card {
    background: var(--secondary-color);
    border-radius: 10px;
    box-shadow: var(--shadow-md);
    overflow: hidden;

    .summary-header {
        background: transparent;
        padding: 1.5rem 2rem;

        .header-content {
            .summary-title {
                font-size: 1.5rem;
                color: var(--base-text-color);
                margin: 0 0 0.5rem 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                flex-wrap: wrap;

                @media (min-width: 769px) {
                    font-size: 1.75rem;
                    flex-wrap: nowrap;
                }

                .summary-id {
                    font-weight: 800;
                    color: var(--third-color);
                    font-size: 1.5rem;

                    @media (min-width: 769px) {
                        font-size: inherit;
                    }
                }

                .summary-date {
                    font-size: 1.2rem;
                    color: var(--secondary-text-color);
                    font-weight: 400;

                    @media (min-width: 769px) {
                        font-size: 0.95rem;
                        font-weight: inherit;
                    }
                }
            }
        }
    }

    .summary-body {
        padding: 0 1rem;

        .summary-items-list {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            background-color: var(--base-color);
            padding: 1rem;
            border-radius: 10px;

            .summary-item {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                padding-bottom: 1.5rem;
                border-bottom: 1px solid rgba(90, 90, 90, 0.1);
                align-items: center;

                &:last-child {
                    border-bottom: none;
                    padding-bottom: 0;
                }

                @media (min-width: 769px) {
                    gap: 1.5rem;
                    align-items: stretch;
                }

                .item-image {
                    width: 90px;
                    height: 90px;
                    flex-shrink: 0;
                    border-radius: 8px;
                    overflow: hidden;
                    background: var(--base-color);

                    @media (min-width: 769px) {
                        width: 100px;
                        height: 100px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .item-details {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .item-main-info {
                        display: flex;
                        flex-direction: column;
                        gap: 0.25rem;
                        margin-bottom: 5px;

                        .item-category {
                            font-size: 1rem;
                            text-transform: uppercase;
                            color: var(--secondary-text-color);
                            font-weight: 600;

                            @media (min-width: 769px) {
                                font-size: 0.8rem;
                            }
                        }

                        .item-title {
                            font-size: 1.4rem;
                            font-weight: 600;
                            color: var(--base-text-color);
                            text-decoration: none;
                            transition: color 0.2s;

                            &:hover {
                                color: var(--third-color);
                            }

                            @media (min-width: 769px) {
                                font-size: 1.25rem;
                            }
                        }

                        .item-brand {
                            font-size: 1rem;
                            color: var(--secondary-text-color);
                        }
                    }

                    .item-pricing {
                        display: flex;
                        gap: 1rem;
                        margin-top: 0.25rem;
                        justify-content: space-between;

                        @media (min-width: 769px) {
                            gap: 2rem;
                            margin-top: 0.5rem;
                            justify-content: flex-start;
                        }

                        .price-row,
                        .total-row,
                        .quantity-row {
                            display: flex;
                            flex-direction: column;

                            .price-label,
                            .total-label,
                            .quantity-label {
                                font-size: 1rem;
                                color: var(--secondary-text-color);

                                @media (min-width: 769px) {
                                    font-size: 0.8rem;
                                }
                            }

                            .price-value,
                            .quantity-value,
                            .total-value {
                                font-weight: 600;
                                font-size: 1.4rem;

                                @media (min-width: 769px) {
                                    font-size: inherit;
                                }
                            }

                            .price-value,
                            .quantity-value {
                                color: var(--base-text-color);
                            }

                            .total-value {
                                color: var(--third-color);
                            }
                        }

                        .total-row {
                            text-align: end;
                        }

                        .quantity-row {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .summary-footer {
        background: var(--secondary-color);
        padding: 1rem 2rem 2rem;
        border-top: 1px solid rgba(0, 0, 0, 0.05);

        .summary-total-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.5rem;

            .grand-total-label {
                font-size: 1.5rem;
                font-weight: 600;
                color: var(--base-text-color);

                @media (min-width: 769px) {
                    font-size: 1.25rem;
                }
            }

            .grand-total-value {
                font-size: 2.5rem;
                font-weight: 800;
                color: var(--third-color);

                @media (min-width: 769px) {
                    font-size: 2rem;
                }
            }
        }

        .actions-wrap {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            align-items: center;
            gap: 1.2rem;

            .payment-form {
                display: flex;

                .btn-pay-now {
                    padding: 1.2rem;
                }
            }

            .restore-form {
                height: 100%;

                .btn-restore {
                    height: 100%;
                }
            }

            .delete-form {
                grid-column: 1 / -1;
                height: 100%;
            }

            .btn-pay-now,
            .btn-restore,
            .btn-delete-order {
                width: 100%;
                border-radius: 5px;
                font-size: 1.5rem;
                font-weight: 700;
                cursor: pointer;
                transition: all 0.2s;
                text-transform: uppercase;
                letter-spacing: 1px;

                &:hover {
                    transform: translateY(-2px);
                }

                @media (min-width: 769px) {
                    padding: 1rem;
                    font-size: 1.25rem;
                }
            }

            .btn-pay-now,
            .btn-restore {
                background: var(--third-color);
                color: white;
                border: none;

                &:hover {
                    filter: brightness(110%);
                    box-shadow: 0 4px 12px rgba(18, 145, 238, 0.3);
                }
            }

        }

    }
}
