{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/components/filter.css' %}" />
  <!-- <link rel="stylesheet" href="{% static 'css/components/pagination.css' %}" /> -->
  <link rel="stylesheet" href="{% static 'css/pages/catalog.css' %}" />
  <link rel="stylesheet" href="{% static 'css/media.css' %}" />
{% endblock head %}


{% block content %}
  <div class="section-top">
    <h1 class="main-cont-ttl">Catalog</h1>
    <ul class="b-crumbs">
      <li>
        <a href="{% url 'web:index' %}">Home</a>
      </li>
      <li>Catalog</li>
    </ul>
  </div>
  <!-- To make Sidebar "Not Sticky" just remove id="section-list-withsb" -->
  <div class="section-wrap-withsb">
    <aside class="blog-sb-widgets section-sb" id="section-sb">
      <div class="theiaStickySidebar">
        <div class="section-filter">
          <div class="section-filter">
            {% include 'web/includes/categories.html' %}
          </div>
          <div class="section-filter">
            {% include 'web/includes/brands.html' %}
          </div>
        </div>
      </div>
    </aside>
    <div class="section-list-withsb" id="section-list-withsb">
      <div class="theiaStickySidebar">
        {% include 'web/includes/catalog.html' %}
      </div>
    </div>
  </div>
{% endblock content %}
