<div class="site-header">
  <div class="h-logo d-flex align-items-center justify-content-between">
    <a class="header-logo align-items-center" href="{% url 'web:index' %}">
      <i class="bi bi-github"></i>
    </a>
    <div class="h-nav">
      <div class="h-shop position-static">
        <ul class="h-shop-links d-flex">
          <form method="post" action="{% url 'web:search_product_title' %}" class="h-search" id="h-search">
            {% csrf_token %}
            <label>
              <input type="text" name="title" placeholder="Search..." />
            </label>
            <button type="submit"><i class="ion-search"></i></button>
          </form>
          <li class="h-search-btn" id="h-search-btn">
            <i class="ion-search"></i>
          </li>
          <li class="h-shop-icon h-profile">
            <a href="{% url 'account:user_account' %}" title="My Account"><i class="ion-android-person"></i></a>
            <ul class="h-profile-links">
              {% if request.user.is_authenticated %}
                <li>
                  <form action="{% url 'account:logout' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="" value="LogOut" />
                  </form>
                </li>
              {% else %}
                <li>
                  <a href="{% url 'account:user_account' %}">LogIn / SignUp</a>
                </li>
              {% endif %}
            </ul>
          </li>
          {% if user.is_authenticated %}
            {% include 'includes/header-cart.html' %}
          {% endif %}
        </ul>
      </div>
      <button id="theme-switch" class="position-static">
        <i class="bi bi-moon"></i>
        <i class="bi bi-sun"></i>
      </button>
    </div>
  </div>
</div>
