{% load static %}
<script type="text/javascript" src="{% static 'js/toastBehavior.js' %}" defer></script>

{% if messages %}
  <div class="toast-container p-3">
    {% for message in messages %}
      <div class="toast align-items-center border-0 {{ message.tags }}" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false" data-bs-delay="5000">
        <div class="toast-content">
          <div class="toast-body">{{ message|safe }}</div>
          <button type="button" class="btn-close btn-close-white my-auto" aria-label="Close" onclick="closeToast(this)"></button>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
