<!-- navbar -->
<div class="container-fluid page-styling site-header-before">
  <div class="row">
    <!-- <div class="col-lg-4">
      <ul class="links_list links_list-align-left align-center-desktop topbar-social">
        <li>
          <p class="links_list-value">
             <a href="http://facebook.com" target="_blank" rel="nofollow">
                            <i class="fa fa-facebook"></i>
                        </a> 
          </p>
        </li>
      </ul>
    </div> -->
    <div class="col-lg-8">
      <ul class="links_list links_list-align-right align-center-desktop topbar-contacts">
        <li>
          <p class="links_list-label">Address</p>
          <p class="links_list-value">
            <a href="https://www.google.com/maps/place/La+Habana,+Cuba/@23.0509172,-82.4978139,11z/data=!3m1!4b1!4m6!3m5!1s0x88cd774cbdf600e1:0x4e294d7e1a770d60!8m2!3d23.133865!4d-82.3585654!16zL20vMGQ2aG4?entry=ttu&g_ep=EgoyMDI1MDQyNy4xIKXMDSoASAFQAw%3D%3D" target="_blank" rel="nofollow">La Habana, Cuba</a>
          </p>
        </li>
        <li>
          <p class="links_list-label">Support Contact</p>
          <p class="links_list-value">
            <a href="mailto:enmadofenyxz@gmail.com">enmadofenyxz@gmail.com</a>
          </p>
        </li>
        <li>
          <p class="links_list-label">Phone</p>
          <p class="links_list-value">
            <a href="tel:9176728663">+1 917-672-8663</a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
