{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/components/forms.css' %}" />
  <link rel="stylesheet" href="{% static 'css/pages/cart.css' %}" />
  <script type="text/javascript" src="{% static 'js/cartPageControl.js' %}" defer></script>
{% endblock head %}

{% block content %}
  <h1 class="main-cont-ttl">Cart</h1>
  <ul class="b-crumbs">
    <li>
      <a href="/">Home</a>
    </li>
    <li>Cart</li>
  </ul>
  <div class="page-styling">
    <div class="woocommerce prod-litems section-list">
      <h2>Your Items</h2>
      {% for product_id, product_order_detail in request.session.cart.items %}
        <article class="prod-li sectls" data-product-id="{{ product_id }}">
          <div class="prod-li-inner">
            <a href="{% url 'web:product_detail' product_id %}" class="prod-li-img"><img src="{{ product_order_detail.image }}" alt="" /></a>
            <div class="cart-item">
              <div class="card-header product-cart">
                <div class="prod-li-ttl-wrap">
                  <a href="{% url 'web:product_detail' product_id %}"><h3>{{ product_order_detail.title }}</h3></a>
                  <p>
                    <a href="{% url 'web:filter_by_category' product_order_detail.category.id %}">{{ product_order_detail.category.name }}</a>
                  </p>
                </div>
                <form class="cart-actions" action="{% url 'cart:delete_product_cart' product_id %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="location-url" value="{{ request.get_full_path }}" />
                  <p class="prod-li-add">
                    <button class="button hover-label prod-addbtn" type="submit"><i class="icon ion-close-round"></i></button>
                  </p>
                </form>
              </div>
              <div class="prod-li-info border-0">
                <div class="card-body border-0">
                  <div class="prod-li-prices">
                    <div class="prod-li-price-wrap">
                      <p id="product-price" class="prod-li-price">${{ product_order_detail.price }}</p>
                    </div>
                  </div>
                  <div class="border rounded quantity-control-component">
                    <p class="qnt-wrap prod-li-qnt mb-0 d-flex">
                      <a href="#" class="qnt-minus prod-li-minus border-bottom-0" id="quantity-down"><i class="bi bi-dash"></i></a>
                      <input
                        id="product-quantity"
                        class="mb-0 rounded-0 p-0 text-center h-auto bg-transparent"
                        name="quantity" type="text" value="{{ product_order_detail.quantity }}"
                      />
                      <a href="#" class="qnt-plus prod-li-plus border-bottom-0" id="quantity-up"><i class="bi bi-plus"></i></a>
                    </p>
                  </div>
                  <p class="prod-li-information">
                    <a href="#" class="hover-label">
                      <i class="icon ion-more"></i><span class="show-more-helptext">Show Information</span>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="page-styling prod-li-informations">
            <dl class="prod-li-props">
              <dt>Brand:</dt>
              <dd><a href="{% url 'web:filter_by_brand' product_order_detail.brand.id %}">{{ product_order_detail.brand.name }}</a></dd>
              <dt>Weight:</dt>
              <dd>{{ product_order_detail.weight }} kg</dd>
              <dt>Dimension:</dt>
              <dd>{{ product_order_detail.dimension }}</dd>
              <dt>Color:</dt>
              <dd>{{ product_order_detail.color }}</dd>
            </dl>
          </div>
        </article>
      {% endfor %}
    </div>
    <div class="cart-actions cart-page">
      <div class="coupon">
        <input type="text" id="coupon-code-input" placeholder="Coupon code" />
        <input type="submit" class="button coupon-apply-btn" value="Apply" />
      </div>
      <div class="order-coupon">
        <p class="cart-totals-ttl cart-coupon-ttl">Coupon</p>
        <p class="text-success fw-bold z-1 ps-1 cart-coupon-val">- $ 0.00</p>
      </div>
      <div class="order-total">
        <p class="cart-totals-ttl">Total</p>
        <span class="cart-totals-val">$ {{ request.session.cart_total_price|floatformat:2 }}</span>
      </div>
      <div class="cart-collaterals">
        <form class="cart-actions cart" action="{% url 'cart:clear_cart' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="location-url" value="{{ request.get_full_path }}" />
          <input class="checkout-button button clear-cart-btn" type="submit" value="Clear Cart" />
        </form>
        <form class="cart-actions cart" action="{% url 'order:create_order' %}" method="get">
          <input class="checkout-button button place-order-btn" type="submit" value="Place Order" />
        </form>
      </div>
    </div>
  </div>
  {% if pending_orders %}
    {% include 'includes/pending-orders.html' %}
  {% endif %}
{% endblock %}
