{% extends 'layout.html' %}
{% block content %}
  <h1 class="maincont-ttl">{{ order.order_num }}</h1>
  <ul class="b-crumbs">
    <li>
      <a href="{% url 'web:index' %}">Home</a>
    </li>
    <li>Order</li>
  </ul>
  <div class="page-styling">
    <div class="woocommerce prod-litems section-list">
      <h2>Date : {{ order.registration_date }}</h2>
      {% for detail in order.order_details.all %}
        <article class="prod-li sectls">
          <div class="prod-li-inner">
            <a href="{% url 'web:product_detail' detail.product.id %}" class="prod-li-img"><img src="{{ detail.product.image.url }}" alt="" /></a>
            <div class="prod-li-cont">
              <div class="prod-li-ttl-wrap">
                <p>
                  <a href="{% url 'web:filter_by_category' detail.product.category.id %}">{{ detail.product.category }}</a>
                </p>
                <p>
                  <a href="{% url 'web:filter_by_brand' detail.product.brand.id %}">{{ detail.product.brand }}</a>
                </p>
                <h3><a href="{% url 'web:product_detail' detail.product.id %}">{{ detail.product.title }}</a></h3>
              </div>
              <div class="prod-li-prices" style="margin: 0px 0px;">
                <div class="prod-li-price-wrap">
                  <p>Price</p>
                  <p class="prod-li-price">$ {{ detail.product.price }}</p>
                </div>
              </div>
              <div class="prod-li-qnt-wrap" style="margin: 0px -100px;">
                <p class="qnt-wrap prod-li-qnt" style="margin: 0px -90px;">
                  <a href="#" class="qnt-plus prod-li-plus"><i class="icon ion-arrow-up-b"></i></a>
                  <input type="text" value="1" />
                  <a href="#" class="qnt-minus prod-li-minus"><i class="icon ion-arrow-down-b"></i></a>
                </p>
              </div>
              <div class="prod-li-total-wrap">
                <p>Total</p>
                <p class="prod-li-total">$ {{ detail.subtotal }}</p>
              </div>
            </div>
          </div>
        </article>
      {% endfor %}
    </div>
    <div class="cart-actions" style="padding-top: 15px;">
      <div class="cart-collaterals">
        <div class="order-total">
          <p class="cart-totals-ttl">Total</p>
          <p class="cart-totals-val">$ {{ order.total_price }}</p>
        </div>
        <form action="{% url 'payment:payment_process' %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Pay Now" />
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
