{% extends 'layout.html' %}

{% comment %}
{% block title %}
  Login/Sig Up
{% endblock %}
{% endcomment %}

{% block content %}
  <h1 class="maincont-ttl">Registration</h1>
  <ul class="b-crumbs">
    <li>
      <a href="{% url 'web:index' %}">Home</a>
    </li>
    <li>Registration</li>
  </ul>

  <article class="page-cont">
    <div class="page-styling">
      <div class="auth-wrap">
        <div class="auth-col">
          <h2>Sign Up</h2>
          <form method="post" class="register" action="{% url 'order:create_order_user' %}">
            {% csrf_token %}
            <p>
              <label for="reg_email">Email <span class="required">*</span></label>
              <input type="email" id="reg_email" name="new_user_email" />
            </p>
            <p>
              <label for="reg_password">Password <span class="required">*</span></label>
              <input type="password" id="reg_password" name="new_user_password" />
            </p>
            <p class="auth-submit">
              <input type="submit" value="Create Account" />
            </p>
          </form>
          <p>
            Already have an account?
            <a href="{% url 'login_user' %}">LogIn</a>
          </p>
        </div>
      </div>
    </div>
  </article>
{% endblock content %}
