{% extends 'layout.html' %}
{% block content %}
  <div class="page-styling">
    <div class="woocommerce prod-litems section-list">
      <article class="prod-li sectls">
        <h2 style="padding: 30px 30px 10px;">Pending Orders:</h2>
        {% for pending_order in pending_orders %}
          <div style="padding: 30px 50px;">
            <h5>Order ID: {{ pending_order.id }}</h5>
            <h5>Order Date: {{ pending_order.registration_date }}</h5>
            <h5 style="margin-bottom: 0px;">Details: </h5>
            <div style="padding-left: 30px;">
              {% for order_detail in pending_order.order_details.all %}
                <ul>
                  <li>Product: {{ order_detail.product.title }}</li>
                  <li>Price: $ {{ order_detail.product.price }}</li>
                  <li>Quantity: {{ order_detail.quantity }}</li>
                  <li>Subtotal: {{ order_detail.subtotal }}</li>
                </ul>
              {% endfor %}
            </div>
            <h5>Total Amount: $ {{ pending_order.total_price }}</h5>
            <a href="{% url 'cart:restore_order_pending_cart' pending_order.id  %}">
              Add all this order to the cart again
            </a>
          </div>
        {% endfor %}
      </article>
    </div>
  </div>
{% endblock content %}
