{% extends 'base.html' %}

{% block title %}
  Email Validation
{% endblock title %}

{% block head %}
  {% load static %}
  <script type="text/javascript" src="{% static 'js/emailValidation.js' %}"></script>
{% endblock head %}

<!-- TODO: Adapt the UI for Mobile -->
{% block content %}
  <h1 class="main-cont-ttl">Email Validation</h1>
  <ul class="b-crumbs">
    <li>
      <a href="{% url 'web:index' %}">Home</a>
    </li>
    <li>
      <a href="{% url 'account:user_account' %}">Account</a>
    </li>
    <li>Validation</li>
  </ul>
  <div class="email-validation-wrapper">
    <div class="email-validation-container">
      <p class="primary-text">Please check your email for the activation link.</>
      <p class="secondary-text">If you did not receive the email</p>
      <form class="email-validation" action="{% url 'account:email_validation' %}" method="post">
        {% csrf_token %}
        <input id="resend-button" class="resend-button" type="submit" value="Resend Email" />
      </form>
    </div>
  </div>
{% endblock content %}
