{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block head %}
  <script src="{% static 'js/cartPageControl.js' %}" defer></script>
{% endblock head %}

{% block content %}
  <h1 class="main-cont-ttl">ORDER REGISTRATION</h1>
  <ul class="b-crumbs">
    <li>
      <a href="{% url 'web:index' %}">Home</a>
    </li>
    <li>Order</li>
  </ul>
  <form method="post" action="{% url 'order:confirm_order' %}" class="register">
    {% csrf_token %}
    <article class="page-cont">
      <div class="page-styling">
        <div class="auth-wrap">
          <div class="card-header">
            <i class="ion-android-person"></i>
            <h2>Personal Information</h2>
          </div>
          {{ client_form.name|as_crispy_field }}
          {{ client_form.last_name|as_crispy_field }}
          {{ client_form.email|as_crispy_field }}
        </div>
      </div>
    </article>
    <article class="page-cont">
      <div class="page-styling">
        <div class="auth-wrap">
          <div class="auth-col">
            <div class="card-header">
              <i class="bi bi-truck"></i>
              <h2>Shipping Information</h2>
            </div>
            {{ client_form.phone|as_crispy_field }}
            {{ client_form.address|as_crispy_field }}
          </div>
        </div>
      </div>
    </article>
    <article class="page-cont">
      <div class="page-styling">
        {% if request.session.cart.items|length > 0 %}
          <div class="card-header">
            <i class="bi bi-clipboard-check"></i>
            <h2>Order Resume</h2>
          </div>
          <div class="woocommerce prod-litems section-list d-flex flex-column align-items-center">
            <ul class="list-group list-group-flush ms-0 mb-1 w-100">
              <li class="list-group-item">
                {% for product_id, details in request.session.cart.items %}
                  <div class="prod-li sectls mb-3" data-product-id="{{ product_id }}">
                    <div class="prod-li-inner d-grid grid-col-3">
                      <a href="{% url 'web:product_detail' product_id %}" class="prod-li-img p-0 border-bottom-0 rounded-3">
                        <img src="{{ details.image }}" alt="{{ details.title }}"/>
                      </a>
                      <div class="prod-li-cont d-flex flex-column justify-content-start py-1">
                        <div class="prod-li-ttl-wrap p-0 w-100">
                          {% if details.category.id %}
                            <p class="mb-0">
                              <a href="{% url 'web:filter_by_category' details.category.id %}">{{ details.category.name }}</a>
                            </p>
                          {% endif %}
                          {% comment %} {% if details.brand.id %}
                            <p class="mb-0">
                              <a href="{% url 'web:filter_by_brand' details.brand.id %}">{{ details.brand.name }}</a>
                            </p>
                          {% endif %} {% endcomment %}
                          <p class="fw-bolder fs-6 mb-0">
                            <a href="{% url 'web:product_detail' product_id %}">{{ details.title }}</a>
                          </p>
                        </div>
                        <p class="prod-li-price text-primary mb-0 fw-semibold" id="product-price">${{ details.price }}</p>
                      </div>
                      <div class="d-flex flex-column py-1 gap-1 align-items-end">
                        <!-- Quantity Control Component -->
                        <div class="border rounded quantity-control-component">
                          <p class="qnt-wrap prod-li-qnt mb-0 d-flex">
                            <a href="#" class="qnt-minus prod-li-minus border-bottom-0" id="quantity-down"><i class="bi bi-dash"></i></a>
                            <input class="mb-0 rounded-0 p-0 text-center h-auto bg-transparent" name="quantity" type="text" value="{{ details.quantity }}">
                            <a href="#" class="qnt-plus prod-li-plus border-bottom-0" id="quantity-up"><i class="bi bi-plus"></i></a>
                          </p>
                        </div>
                        <div class="prod-li-total-wrap pe-0 w-auto" id="product-order-subtotal">
                          <p class="prod-li-total fw-bolder" id="product-total-price" >
                            $ {{ details.subtotal|floatformat:2 }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between mb-2">
                  <p class="m-0">Subtotal</p>
                  <p class="m-0" id="order-resume-subtotal">$ {{ request.session.cart_total_price|floatformat:2 }}</p>
                </div>
                <div class="d-flex justify-content-between mb-2">
                  <p class="m-0 ">Shipping</p>
                  <p class="m-0 text-success">Free</p>
                </div>
              </li>
              <li class="list-group-item">
                <div class="cart-actions-confirm p-0">
                  <div class="cart-collaterals">
                    <div class="order-total d-flex justify-content-between fw-bolder">
                      <p class="cart-totals-ttl mb-2">Total</p>
                      <p class="cart-totals-val mb-2">$ {{ request.session.cart_total_price|floatformat:2 }}</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <div class="auth-col mt-2 w-100">
              <p class="auth-submit m-0">
                <button class="btn d-flex rounded-3 py-2 order-confirm-button w-100 justify-content-center" type="submit">
                  Confirm and Pay
                </button>
              </p>
            </div>
          </div>
        {% endif %}
      </div>
    </article>
  </form>
{% endblock content %}
